<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div class="form-row">
    <div class="form-group col-12">
      <h3 class="border-bottom">Detalhe Perfil</h3>
    </div>
    <div class="form-group col">
      <label>Título</label>
      <select class="form-control" formControlName="titulo"
      [ngClass]="{'is-invalid' : f.titulo.errors && f.titulo.touched}">
      <option value=""></option>
      <option value="NaoInformado">Não Quero</option>
      <option value="Tecnologo">Tecnólogo(a)</option>
      <option value="Bacharel">Bacharel</option>
      <option value="Especialista">Especialista</option>
      <option value="PosGraduado">Pós Graduado(a)</option>
      <option value="Mestrado">Mestre</option>
      <option value="Doutorado">Doutor(a)</option>
      <option value="PosDoutorado">Pós Doc</option>
    </select>
    <div class="invalid-feedback" >
      Título é obrigatório
    </div>
  </div>
  <div class="form-group col-sm-5">
    <label>Primeiro Nome</label>
    <input type="text" formControlName="primeiroNome" class="form-control"
    [ngClass]="{'is-invalid' : f.primeiroNome.errors && f.primeiroNome.touched}"/>
    <div class="invalid-feedback" >
      Primeiro Nome é obrigatório
    </div>
  </div>
  <div class="form-group col-sm-5">
    <label>Último nome</label>
    <input type="text" formControlName="ultimoNome" class="form-control"
    [ngClass]="{'is-invalid' : f.ultimoNome.errors && f.ultimoNome.touched}"/>
    <div class="invalid-feedback" >
      Ultimo Nome é obrigatório
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-sm-5">
    <label>E-mail</label>
    <input type="text" formControlName="email" class="form-control"
    [ngClass]="{'is-invalid' : f.email.errors && f.email.touched}"/>
    <div class="invalid-feedback" *ngIf="f.email.errors?.required">
      E-mail é obrigatório
    </div>
    <div class="invalid-feedback" *ngIf="f.email.errors?.email">
      Formato de e-mail inválido
    </div>
  </div>
  <div class="form-group col-sm-4">
    <label>Telefone</label>
    <input type="text" formControlName="phoneNumber" class="form-control"
    [ngClass]="{'is-invalid' : f.phoneNumber.errors && f.phoneNumber.touched}"/>
    <div class="invalid-feedback" >
      Telefone é obrigatório
    </div>
  </div>
  <div class="form-group col-sm">
    <label>Função</label>
    <select class="form-control" formControlName="funcao"
    [ngClass]="{'is-invalid' : f.funcao.errors && f.funcao.touched}">
    <option value="NaoInformado">Não Informado</option>
    <option value="Participante">Participante</option>
    <option value="Palestrante">Palestrante</option>
  </select>
  <div class="invalid-feedback" >
    Função é obrigatória
  </div>
</div>
<div class="col-12 form-group">
  <label>Descrição</label>
  <input type="text" formControlName="descricao" class="form-control"
  [ngClass]="{'is-invalid' : f.descricao.errors && f.descricao.touched}" />
  <div class="invalid-feedback" *ngIf="f.descricao.errors?.required">
    Descrição é obrigatória
  </div>
  <div class="invalid-feedback" *ngIf="f.descricao.errors?.maxlength">
    Descrição deve conter no máximo 500 caracteres
  </div>
</div>
</div>
<div>
  <h3 class="pt-3 border-bottom">Mudar Senha</h3>
  <p>Caso mude de senha, preencha os campos abaixo:</p>
</div>
<div class="form-row">
  <div class="form-group col-sm">
    <label>Senha</label>
    <input type="password" formControlName="password" class="form-control"
    [ngClass]="{'is-invalid' : f.password.errors && f.password.touched}"/>
    <div class="invalid-feedback" *ngIf="f.password.errors?.required">
      Senha é obrigatória
    </div>
    <div class="invalid-feedback" *ngIf="f.password.errors?.minlength">
      Senha deve possuir no mínimo 6 caracteres
    </div>
  </div>
  <div class="form-group col-sm">
    <label>Confirmar Senha</label>
    <input type="password" formControlName="confirmePassword" class="form-control"
    [ngClass]="{'is-invalid' : f.confirmePassword.errors && f.confirmePassword.touched}"/>
    <div class="invalid-feedback" *ngIf="f.confirmePassword.errors?.required">
      Confirmação de senha é obrigatória
    </div>
    <div class="invalid-feedback" *ngIf="f.confirmePassword.errors?.mustMatch">
      Senhas não conferem
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="d-flex">
    <button (click)="resetForm($event)" class="btn btn-outline-secondary mr-auto border">
      Cancelar Alteração
    </button>
    <button class="btn btn-success" [disabled]="!form.valid" type="submit">
      <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
      Salvar Alteração
    </button>
  </div>
</div>
</form>
